<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Contact Us</h2>
          <hr>
          <div class="row">
            <div class="col-6">

              <div>
                <a href="https://static.vecteezy.com/system/resources/previews/019/813/203/large_2x/modern-medical-and-health-care-center-ayurvedic-logo-design-illustration-free-vector.jpg"
                  target="_blank">
                  <img style="height: 100px; width: auto;"
                    src="https://static.vecteezy.com/system/resources/previews/019/813/203/large_2x/modern-medical-and-health-care-center-ayurvedic-logo-design-illustration-free-vector.jpg"
                    alt="Description of the image">
                </a>
              </div>
              <div class="row mt-4 mb-2">
                <h2>We are here for you</h2>
                <hr>
              </div>

              <address>
                <h4>
                  <strong>Address:</strong><br>
                </h4>
                <h5>TF-39, Rudrax Complex-2,<br>
                  OPP. Annapurna Resturant, GIDC road, phase-3,<br>
                  Vatva GIDC, Ahmedabad, Gujarat 382445<br>
                </h5>
              </address>

              <h4><strong>Email:</strong></h4>
             <h5>
               <!-- <a href="shlokayurveda01@gmail.com"> shlokayurveda01@gmail.com</a> -->
               <a href="mailto:shlokayurveda01&#64;gmail.com">shlokayurveda01&#64;gmail.com</a>
             </h5>
              <h4>
                <strong>Help Line Number :</strong>
              </h4>
              <h5>
                <a href="tel:8128180101">8128180101</a><br> <br>
                <a href="tel:8733937101">8733937101</a>
              </h5>
            </div>
            <div class="col-6">
              <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h3 class="mb-0">We'd love to hear from you!</h3>
                </div>

                <div class="card-body">
                  <form [formGroup]="contactForm" (ngSubmit)="onSubmitContactUs()">
                    <div class="mb-3">
                      <label class="form-label" for="basic-icon-default-fullname">Name</label>
                      <div class="input-group input-group-merge">
                        <input type="text" class="form-control" id="basic-icon-default-fullname"
                          placeholder="Enter Your Name" aria-label="John Doe"
                          formControlName="name" 
                          aria-describedby="basic-icon-default-fullname2" />
                      </div>
                    </div>

                    <div class="mb-3">
                      <label class="form-label" for="basic-icon-default-fullname">Phone No</label>
                      <div class="input-group input-group-merge">
                        <input type="text" class="form-control" id="basic-icon-default-fullname"
                          placeholder="Enter Phone Number" aria-label="John Doe"
                          formControlName="phoneno" 
                          aria-describedby="basic-icon-default-fullname2" />
                      </div>
                    </div>

                    <div class="mb-3">
                      <label class="form-label" for="basic-icon-default-fullname">Address</label>
                      <div class="input-group input-group-merge">
                          <textarea type="text" class="form-control" id="basic-icon-default-fullname"
                          placeholder="Enter your address" formControlName="address">
                        </textarea>
                      </div>
                    </div>

                    <div class="mb-3">
                      <div class="styled-input wide">
                        <label class="form-label" for="basic-icon-default-fullname">Tell us your concern</label>
                        <textarea type="text" class="form-control" id="basic-icon-default-fullname"
                          placeholder="Enter About Your Problem" formControlName="concern" >
                        </textarea>
                      </div>
                    </div>

                     <!-- Testing On Going... -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
